@media screen and (max-width: 1200px) {
    /* На устройства 1024px*/
    .container__adapted {
        padding: 50px 15px;
    }

    .container__adapted--no-padding {
        padding: 0px 15px;
    }

    .page-section {
        margin: 80px auto;
    }
    .about-us__poster {
        position: static;
        width: 452px;
        height: 283px;
    }
    .about-us__poster img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .about-us {
        align-items: center;
        gap: 58px;
    }

    .menu__body {
        height: 700px;
    }

    .services__left-img {
        position: static;
        width: 449px;
        height: 300px;
    }

    .services__left-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .services__left-img-cont  {
        gap: 58px;
    }

    .services__text-apart-l {
        width: 330px;
    }

    .services__text-adapt-r {
        width: 266px;
    }

    .services__mid-img {
        align-items: center;
    }
    .services__left-cont-img {
        width: 449px;
        height: 300px;
    }

    .services__left-cont-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .services__left-cont {
        gap: 42px;
    }
    .services__left-cont p {
        width: 464px;

    }

    .services__right-cont {
        width: 456px;
    }

    .spolilers ul {
        padding: 0;
    }
    .gallery__item {
        width: 292px;
        height: 189px;
    }
    .gallery__item img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .gallery__item--big {
        width: 292px;
        height: 410px;
    }

    .gallery__item--big img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .gallery__images {
        grid-row-gap: 35px;
        grid-column-gap: 50px;
    }

    .offer__cards {
        grid-column-gap: 30px;
    }

    .schedule {
        background-position: 50% 500px;
        min-height: 1050px;
    }

    .menu__center {
        margin-top: 150px;
    }


}

@media screen and (max-width: 1010px) {

    /* На устройства 768px*/

    .header__top-menu {
        display: none;
    }

    .footer__adapted {
        display: flex;
    }

    .about-us {
        flex-direction: column;
    }
    .about-us__poster {

        width: 699px;
        height: 480px;
    }

    .about-us__info {
        max-width: 699px;
    }

    .menu__body {
        height: 700px;
    }

    .section-grid__grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 85px;
        row-gap: 65px;
    }

    .services__left-img-cont {
        flex-direction: column;
    }

    .services__left-img {
        width: 736px;
        height: 496px;
    }
    
    .services__right-cont {
        width: 736px;
    }

    .services__left-cont {
        flex-direction: column-reverse;
        align-items: center;
    }

    .services__left-cont-img {
        width: 699px;
        height: 480px;
    }

    .services__left-cont p  {
        width: 699px;
    }

    .services__mid-img {
        display: none;
    }

    .services__adapted-block {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 42px;
    }

    .services__text-apart-l p {
        margin-bottom: 30px;
    }

    .services__mid-img-block {
        width: 699px;
        height: 480px;
    }

    .services__text-apart-l {
        width: 699px;
    }

    .image-slider .swiper-pagination-bullet {
        width: 70px;
    }

    .offer__cards {
        grid-template-columns: repeat(2, 320px);
        justify-content: center;
    }

    .feedback__content  {
        flex-direction: column;
    }


    .feedback__form {
        box-sizing: border-box;
        height: 490px;
    }

    .contacts__map {
        width: 683px;
        height: 445px;
    }

    .gallery__images {
        grid-template-columns: repeat(2, 292px);
        grid-column-gap: 50px;
        justify-content: center;
    }

    .gallery__item {
        width: 292px;
        height: 189px;
    }

    .section-main__left {
        margin-left: 0;
    }
}

@media screen and (max-width: 880px) {
    .menu__body {
        height: 640px;
    }

}

@media screen and (max-width: 754px) {
    /* На устройства 480px*/

    .section-main {
        flex-direction: column;
    }

    .spoilers__content {
        font-size: 18px;
    }

    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 36px;
    }

    p {
        font-size: 18px;
    }

    .about-us__poster {
        width: 443px;
        height: 319px
    }

    .menu__center {
        margin-top: 30px;
    }

    .section-grid__grid {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }

    .services__left-img,
    .services__mid-img-block,
    .services__left-cont-img {
        width: 443px;
        height: 319px
    }

    .services__right-cont,
    .services__text-apart-l,
    .services__left-info {
        width: 443px;
    }

    .services__left-cont p {
        width: 443px;
    }

    .offer__cards {
        grid-template-columns: repeat(1, 320px);
    }

    .free-class__content {
        flex-direction: column;
    }

    .gallery__images {
        grid-template-columns: repeat(1, 292px);
    }

    .contacts__block {
        position: static;
        width: 438px;
        height: 171px;
        box-sizing: border-box;
    }

    .contacts__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts__map {
        padding: 0;
        width: 438px;
        height: 287px;
    }
    .spoilers__control {
        padding: 15px;
    }

    .header__contacts p,
    .header__contacts--white p,
    .footer__content {
        display: none;

    }

    .btn--big-size {
        width: 438px;
    }

    .footer__phone {
        color: var(--color-yellow);
        font-size: 16px;
        font-weight: 200;
    }

    .footer__social-media {
        margin-top: 15px;
    }

    .services__block {
        margin-bottom: 100px;
    }
    .section-main__left h1 {
        font-size: 46px;
    }

    .image-slider .swiper-pagination-bullet {
        width: 50px;
    }

    .spoilers__title {
        font-size: 20px;
    }

    .menu__list {
        padding: 20px;
    }

    .menu__body {
        height: 450px;
    }

    .error {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .error__content {
        align-items: center;
    }

    .error__img {
        height: 394px;
        width: 271px;
    }

}

@media screen and (max-width: 450px) {
    /* На устройства 324px*/

    .header__left {
        flex-direction: column;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 34px;
    }

    .services__left-img,
    .services__mid-img-block,
    .services__left-cont-img,
    .about-us__poster {
        width: 287px;
        height: 214px
    }

    .services__right-cont,
    .services__text-apart-l,
    .services__left-info,
    .about-us__info {
        width: 287px;
    }

    .services__left-cont p {
        width: 287px;
    }

    .btn--big-size {
        width: 287px;
    }

    .contacts__map {
        width: 300px;
        height: 192px;
    }

    .contacts__block {
        width: 300px;
    }

    .feedback__form {
        width: 291px;
        height: 530px;
        padding: 10px 15px;
    }

    .feedback__img {
        width: 292px;
        height: 405px;
    }

    .free-class__btn {
        margin-top: 20px;
    }

    .schedule {
        background-position: 50% 400px;
        min-height: 850px;
    }

    .header__left {
        align-items: flex-start;
    }

    .menu__list a {
        font-size: 18px;
    }

    .menu__list li {
        text-align: start;
    }

    .menu__list {
        padding: 0;
    }





}