@media screen and (max-width: 1200px) {
    /* На устройства 1024px*/
    .container__adapted {
        padding: 50px 15px;
    }

    .container__adapted--no-padding {
        padding: 0px 15px;
    }

    .page-section {
        margin: 80px auto;
    }
    .about-us__poster {
        position: static;
        width: 452px;
        height: 283px;
    }
    .about-us__poster img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .about-us {
        align-items: center;
        gap: 58px;
    }

    .services__left-img {
        position: static;
        width: 449px;
        height: 300px;
    }

    .services__left-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .services__left-img-cont  {
        gap: 58px;
    }

    .services__text-apart-l {
        width: 330px;
    }

    .services__text-adapt-r {
        width: 266px;
    }

    .services__mid-img {
        align-items: center;
    }
    .services__left-cont-img {
        width: 449px;
        height: 300px;
    }

    .services__left-cont-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .services__left-cont {
        gap: 42px;
    }
    .services__left-cont p {
        width: 464px;

    }

    .services__right-cont {
        width: 456px;
    }

    .spolilers ul {
        padding: 0;
    }
    .gallery__item {
        width: 292px;
        height: 189px;
    }
    .gallery__item img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .gallery__item--big {
        width: 292px;
        height: 410px;
    }

    .gallery__item--big img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .gallery__images {
        grid-row-gap: 35px;
        grid-column-gap: 50px;
    }

    .offer__cards {
        grid-column-gap: 30px;
    }

    .schedule {
        background-position: 50% 500px;
        min-height: 1050px;
    }


}

@media screen and (max-width: 1010px) {

    /* На устройства 768px*/

    .header__top-menu {
        display: none;
    }

    .about-us {
        flex-direction: column;
    }
    .about-us__poster {

        width: 699px;
        height: 480px;
    }

    .about-us__info {
        max-width: 699px;
    }

    .section-grid__grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 85px;
        row-gap: 65px;
    }

    .services__left-img-cont {
        flex-direction: column;
    }

    .services__left-img {
        width: 736px;
        height: 496px;
    }
    
    .services__right-cont {
        width: 736px;
    }

    .services__left-cont {
        flex-direction: column-reverse;
        align-items: center;
    }

    .services__left-cont-img {
        width: 699px;
        height: 480px;
    }

    .services__left-cont p  {
        width: 699px;
    }

    .services__mid-img {
        display: none;
    }

    .services__adapted-block {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 42px;
    }

    .services__text-apart-l p {
        margin-bottom: 30px;
    }

    .services__mid-img-block {
        width: 699px;
        height: 480px;
    }

    .services__text-apart-l {
        width: 699px;
    }

    .image-slider .swiper-pagination-bullet {
        width: 70px;
    }

    .offer__cards {
        grid-template-columns: repeat(2, 320px);
        justify-content: center;
    }

    .feedback__content  {
        flex-direction: column;
    }


    .feedback__form {
        box-sizing: border-box;
        height: 490px;
    }

    .contacts__map {
        width: 683px;
        height: 445px;
    }

    .gallery__images {
        grid-template-columns: repeat(2, 292px);
        grid-column-gap: 50px;
        justify-content: center;
    }

    .gallery__item {
        width: 292px;
        height: 189px;
    }

    .section-main__left {
        margin-left: 0;
    }
}

@media screen and (max-width: 754px) {
    /* На устройства 480px*/
}

@media screen and (max-width: 450px) {
    /* На устройства 324px*/
}