:root {
    --color-brown: #5C3F2A;
    --color-gray: #AB8C76;
    --color-light-brown: #D29E86;
    --color-pink: #EBA68B;
    --color-light: #EEE7DF;
    --color-yellow: #FFFAEE;
    --color-menu: #AE8470;

    --font-size-base: 20px;

}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-light);
    color: var(--color-brown);
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Forum', cursive;
    font-weight: 400;
    color: var(--color-brown);
    margin-top: 0;
} 

h3 {
    font-size: 40px;
    margin-bottom: 30px;
}
h2 {
    font-size: 46px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.flex-sb {
    justify-content: space-between;
}
.page-section {
    margin: 120px auto;
}

.alighn-i-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.padding-block {
    padding: 60px 0;
}

a {
    text-decoration: none;
    color: var(--color-brown);
}

li {
    list-style: none;
}
p {
    margin: 0;
    line-height: 130%;
    font-size: 20px;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.btn--ptimary {
    border: 1px var(--color-light-brown) solid;
    background-color: var(--color-light-brown);
    color: var(--color-yellow);
}

.btn--ptimary:hover {
    border: 1px var(--color-pink) solid;
    background-color: var(--color-pink);
    color: var(--color-yellow);
}
.btn--secondary {
    border: 1px var(--color-brown) solid;
    background-color: var(--color-yellow);
    color: var(--color-brown);
}

.btn--secondary:hover {
    border: 1px var(--color-pink) solid;
    background-color: var(--color-pink);
    color: var(--color-yellow);
}

/* прокрутка элементов при скролле */


.element-animation {
    opacity: 0;
}

.element-animation.element-show {
    opacity: 1;
    transition: opacity 1s;
}


.animation-first.element-animation {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s;
}

.animation-first.element-animation.element-show {
    opacity: 1;
    transform: translateY(0);
}

.animation-second.element-animation {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s;
}

.animation-second.element-animation.element-show {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.25s;
}

.animation-third.element-animation {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s;
}

.animation-third.element-animation.element-show {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s;
}

/* Верхнее меню */


.header__left {
    align-items: center;
}

.header__left img {
    margin-right: 30px;
}

.header__top-menu li {
    margin-right: 40px;
    font-size: 14px;
    font-weight: 500;
}

.header__contacts {
    font-size: 14px;
}

.header__contacts p {
    font-size: 14px;
    font-weight: 500;
}

.header__phone {
    font-weight: 500;
}

/* Гамбургер */
.menu {
    align-items: center;
}

body._lock {
    overflow: hidden;
}

.menu__icon {
    z-index: 5;
    position: relative;
    width: 130px;
    height: 8px;
    cursor: pointer;
} 

.menu__icon p {
    font-weight: 500;
}

.menu__icon._active p {
    display: none;
}

.menu__icon._active::before {
    width: 42px;
    left: 33px;
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
    background-color: var(--color-light); 
}

.menu__icon._active::after {
    
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
    background-color: var(--color-light);
}

.menu__icon::before,
.menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%; 
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--color-brown);
}

.menu__icon::before,
.menu__icon::after {
    content: "";
}

.menu__icon::before {
    top: 0;
    width: 75px;
}

.menu__icon--hover:hover::before {
    width: 30px;
    left: 45px;
}

.menu__icon--hover:hover::after {
    width: 15px;
    left: 60px;
    transition: all 0.5s ease 0.2s;
}

.menu__icon::after {
    position: absolute;
    bottom: 0;
    width: 42px;
    left: 33px;
}

.menu__icon p {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -6px;
    font-size: 14px;
}

.menu__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 777px;
    transform: translate(0px, -100%);
    background-color: var(--color-menu);
    transition: all 0.5s ease 0s;
    overflow: auto;

}

.menu__center {
    justify-content: center;
    gap: 50px;
    padding-top: 200px;

}

.menu__body._active {
    transform: translate(0px, 0px);
}

.menu__list a {
    text-decoration: none;
    font-size: 20px;
    color: var(--color-yellow);
}

.header__contacts--white,
.header__phone--white {

    color: var(--color-yellow);
}

.header__contacts--white p,
.header__contacts--white a {
    font-size: 14px;
}

.menu__list li {
    list-style: none;
    margin: 0 0 30px 0;
}

/* Главный блок */

.section-main__right p {
    max-width: 461px;
    font-size: 16px;
    margin-top: 20px;
}

.section-main__left h1 {
    font-size: 52px;
    width: 270px;
}

.section-main__left {
    margin-left: 96px;
}

.section-main__img {
    max-width: 620px;
    max-height: 390px;
}

.section-main__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section-main {
    gap: 30px;
}

/* Блок с центральным текстом */

.center-text {
    background-color: var(--color-yellow);
}

.center-text__content h2 {
    max-width: 940px;
    margin: auto;
    margin-bottom: 65px;
}

.center-text__content p {
    max-width: 750px;
    margin: auto;
    margin-bottom: 65px;
}


/* Блок О нас */

.about-us__poster {
    position: absolute;
    bottom: 0;
    right: calc(50% + 150px /2);
}

.about-us {
    justify-content: flex-end;
    position: relative;
}

.about-us__info {
    max-width: 554px;
}

.about-us__info p {
    margin-bottom: 30px;
}

/* Блок Преимущества */

.section-grid__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 40px;
}

/* Блок Услуги */

.services {
    background-color: var(--color-yellow);
    overflow: hidden;
}

.services__right-cont {
    max-width: 554px;
}

.services__left-img {
    max-width: 565px;
    max-height: 390px;
    position: absolute;
    bottom: 0;
    right: calc(50% + 100px /2);  
}


.services__left-img-cont {
    justify-content: flex-end;
    position: relative;
}

.services__right-cont p {
    margin-bottom: 30px;
}

.services__block {
    margin-bottom: 250px;
}

.services__mid-img {
    gap: 37px;
}

.services__mid-img p {
    margin-bottom: 55px;
}

.services__mid-img-block {
    max-width: 363px;
    max-height: 250px;
}

.services__mid-img-block img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.services__text-apart-l {
    max-width: 400px;
}

.services__text-apart-r {
    max-width: 346px;
}

.services__left-cont p {
    width: 554px;
    margin-bottom: 18px;
}

.services__left-cont h3 {
    margin-bottom: 19px;
}

.services__left-cont {
    gap: 122px;
}

/* Блок Спойлер */

.spoilers__item {
    width: 100%;
    background-color: var(--color-light-brown);
    margin: 21px;
    border-radius: 4px;
}

.spoilers__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
    font-size: 25px;
    background-color: transparent;
    color: var(--color-yellow);
    padding: 23px;
    border: none;
    cursor: pointer;
    
}

.spoilers__content {
    color: var(--color-yellow);
    font-size: 20px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    will-change: max-height;
    transition: all 0.3s ease-out;
    padding: 0 25px;
}

.spoilers__content li {
    padding: 25px;
}

.spoilers__content li:last-child {
    padding-bottom: 50px;
}
.spoilers__icon {
    position: relative;
    width: 35px;
    height: 35px;
}

.spoilers__icon::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 2px;
    background-color: var(--color-yellow);
    transform: translate(-50%, -50%);
    border-radius: 2px;
}

.spoilers__icon::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 80%;
    background-color: var(--color-yellow);
    transform: translate(-50%, -50%);
    border-radius: 2px;
}

.spoilers__icon {
    transition: transform 0.3s ease-out;
}

.open .spoilers__icon {
    transform: rotate(45deg);
}

.open .spoilers__content {
    opacity: 1;
}


.schedule {
    background-image: url(../images/bg-flower.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 650px) calc(50% + 50px);
}

/* Блок Слайдер */

.swiper-slide img {
    max-width: 100%;
}

.image-slider__slide {
    text-align: center;
}

.image-slider {
    position: relative;
    padding: 70px;
    overflow: hidden; 
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    color: var(--color-pink);
    font-size: 50px;
}

.image-slider .swiper-pagination {
    bottom: 0;
}

.image-slider .swiper-pagination-bullet {
    width: 110px;
    height: 10px;
    border-radius: 4px;
    font-size: 10px;
    background-color: var(--color-pink);
}

.image-slider__name {
    font-size: 28px;
}

.image-slider__text {
    font-size: 20px;
    opacity: 63%;
}


/* Блок Прайс */

.offer__item {
    max-width: 320px;
    min-height: 348px;
    background-color: var(--color-yellow);
    border: thin var(--color-light-brown) solid;
    padding: 35px 22px;
    flex-direction: column;
    box-sizing: border-box;
}

.offer__heading {
    font-size: 25px;
}

.offer__text {
    font-size: 20px;
    color: var(--color-light-brown);
    max-width: 158px;
}

.offer__price {
    font-size: 30px;
    opacity: 63%;
}

.offer__line {
    height: 1px;
    width: 108px;
    border-bottom: thin var(--color-light-brown) solid;
}

.offer__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 47px;
}


/* Блок Бесплатное занятие */


.free-class {
    background-color: var(--color-yellow);
}

.free-class__content {
    align-items: center;
    position: relative;
    height: 220px;  
}

.free-class__img {
    position: absolute;
    bottom: 0;
    right: calc(50% + 1200px /2);
}

.free-class__text {
    font-size: 40px;
}

.free-class__text--change {
    color: var(--color-light-brown);
}

/* Блок Контакты */

.contacts {
    background-color: var(--color-yellow);
}
.contacts__map {
    width: 943px;
    height: 400px;
    padding: 135px 0;
    border-color: transparent;
}

.contacts__content {
    margin: auto;
    text-align: center;
    position: relative;
}

.contacts__block {
    position: absolute;
    top: 300px;
    width: 307px;
    height: 171px;
    padding: 15px;
    background-color: var(--color-light);
}

.contacts__heading {
    text-align: start;
    font-size: 16px;
    margin-bottom: 30px;
}

.contacts__details {
    font-size: 16px;
    opacity: 70%;
}

.contacts__item {
    gap: 12px;
}

.contacts__item {
    margin-bottom: 10px;
}


/* Блок Форма обратной связи */

.feedback__form {
    width: 463px;
    height: 453px;
    border: thin var(--color-brown) solid;
    padding: 25px 30px;
}

.feedback__form-heading {
    font-size: 27px;
}


.feedback__form-item {
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    border: 1px solid var(--color-gray);
    color: var(--color-gray);
    background-color: var(--color-light);
    box-sizing: border-box;
}

.feedback__btn--size {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 42px;
}

.feedback-form__text {
    font-size: 14px;
}

.feedback-form__text--link {
    text-decoration: underline;
}

.feedback__form-heading {
    margin-bottom: 48px;
    margin-top: 20px;
    text-align: center;
}

.feedback__form-field {
    margin-bottom: 22px;
}

.feedback__form-item:focus {
    border: none;
}

.feedback__form-item::placeholder {
    color: var(--color-gray);
    font-size: 14px;
}

.feedback__form-item:focus {
    border: 2px solid var(--color-brown);
    outline: none;
  }

  .feedback__content {
    justify-content: center;
    gap: 78px;
    align-items: center;
  }


  /* Блок Футер */

  .footer {
    background-color: var(--color-menu);
  }

  .footer__nav {
    align-items: center;
  }

  .footer__column li {
    margin-bottom: 24px;
    text-align: center;
  }

  .footer__column a {
    color: var(--color-yellow);
  }

  .footer__social-media {
    gap: 10px;
    align-items: center;
  }

  .footer__logo {
    justify-content: center;
  }

  .footer__content {
    padding-bottom: 20px;
  }


  /* Блок Галерея */

  .gallery__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 70px;
    grid-column-gap: 62px;
  }

  .gallery__item--big {
    grid-column: span 1;
    grid-row: span 2;
  }

  .gallery__item--scale {
    transition: 0.6s;
  }

  .gallery__item--scale:hover {
    transform: scale(1.2);
  }


